.photo-grid {
  display: grid;
  margin: 0 auto;
  padding-top: 90px;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px 15px;
  width: 92%;
}

@media all and (max-width: 1024px){
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 768px){
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 320px){
  .photo-grid {
    padding-top: 60px;
    grid-template-columns: repeat(1, 1fr);
  }
}
