.place__image {
  grid-area: image;
  max-width: 440px;
  width: 100%;
}

@media all  and (max-width: 600px) {
  .place__image {
    position: relative;
    top: 0;
    left: -6%;
    max-width: none;
    width: 100vw;
  }
}
