.header__logo {
  width: 176px;
  height: 100%;
  object-fit: contain;
  object-position: center;
  min-height: 42px;
}

@media all and (max-width: 320px) {
  .header__logo {
    max-width: 142px;
  }
}
