.header {
  display: flex;
  justify-content: space-between;
  width: 92%;
  margin: auto;
  padding-top: 28px;
}

@media all and (max-width: 768px) {
  .header {
    width: 96%;
  }
}

@media all and (max-width: 320px) {
  .header {
    padding-top: 16px;
  }
}
