.lead__image {
  object-fit: contain;
  margin: 55px auto 0;
  width: 100%;
  max-width: 984px;
}

@media all and (max-width: 768px) {
  .lead__image {
    margin-top: 40px;
    position: relative;
    top: 0;
    left: -5%;
    width: 100vw;
  }
}
