.cover {
  margin: 0 auto;
  height: 740px;
  width: 90%;
  background-image: url('../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
}

@media all and (max-width: 1024px) {
  .cover {
    height: 640px;
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  .cover {
    height: 480px;
  }
}

@media all and (max-width: 500px) {
  .cover {
    height: 200px;
  }
}
