.cover {
  position: relative;
  display: flex;
  margin: 0 auto;
  min-height: 740px;
  width: 92%;
}

.cover:hover .cover__image {
  opacity: .3;
}

@media all and (max-width: 1024px) {
  .cover {
    min-height: 640px;
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media all and (max-width: 500px) {
  .cover {
    min-height: 200px;
  }
}
