.footer {
  display: flex;
  margin: 0 auto;
  padding: 90px 50px 25px;
  max-width: 1184px;
  box-sizing: content-box;
  justify-content: space-between;
}

@media all and (max-width: 768px) {
  .footer {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media all and (max-width: 450px) {
  .footer {
    flex-direction: column;
    padding-top: 60px;
  }
}
